[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
pydub = "*"
speechrecognition = "*"
pocketsphinx = "*"
flask = "*"
flask-login = "*"
werkzeug = "*"

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"
isort = "*"

[requires]
python_version = "3.10"
