* {
    margin: 0;
    padding: 0;
}

:root {
    --beige-lightest: #FCFAF6;
    --beige-light: #F8F5F1;
    --beige: #F1EDE8;
    --beige-dark: #A59898;
    --beige-darkest: #706666;
    --green-light: #D1E6E1;
    --green: #216F65;
    --black: #272424;
    --white: #FFFFFF;
}

body {
    background-color: var(--beige-light);
}

h1 {
    font-family: "Adamina", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    margin-bottom: 16px;
}

button {
    padding: 12px 20px;
    background-color: var(--green);
    color: var(--white);
    border: none;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
}

button a {
    color: var(--white);
    text-decoration: none;
    font-weight: 700;
}

p, li, label, a {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: var(--beige-darkest);
}

ul {
    list-style-position: inside;
}

.h-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 100vh;
    overflow: hidden;
}

.h-item {
    flex: 1;
    width: 50%;
    max-width: 50%;
    max-height: 100%;
}

.h-item img {
    width: 100%;
    height: auto;
}

.form {
    margin: auto;
    max-width: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.form h1 {
    max-width: 280px;
}

.subheading {
    font-size: 18px;
}

.labeled-input {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    align-items: flex-start;
}

label {
    font-weight: 500;
}

.inputs {
    margin-top: 32px;
    margin-bottom: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.h-inputs {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

input {
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    border: none;
    background-color: var(--beige);
    color: var(--beige-darkest);
    box-sizing: border-box;
}

input::placeholder {
    color: var(--beige-dark);
}

input:focus {
    outline: 2px solid var(--green);
}

a {
    color: var(--green);
}

.login-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    width: 440px;
    text-align: center;
}

.wishlist {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 24px;
}

.wish {
    list-style: none;
    width: 224px;
    border-radius: 8px;
    background-color: var(--white);
    border: 1px solid var(--beige);
    padding: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
}

.wish img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
    border: 1px solid var(--beige);
    box-sizing: border-box;
}

.wish p {
    margin-top: 8px;
}

.wish button {
    background-color: var(--white);
    color: var(--beige-darkest);
    border: 1px solid var(--beige-dark);
    width: 100%;
}

.claimed-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.64);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.claimed-text {
    color: var(--white);
    font-size: 24px;
    font-weight: bold;
}

#add-wish {
    background-color: var(--beige);
    border: 1px dashed var(--beige-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border-radius: 8px;
    width: 224px;
    min-height: 224px;
}

#add-wish > * {
    flex-grow: 0;
    flex: 0 1 auto;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 48px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.logo {
    font-family: "Adamina", serif;
    font-size: 20px;
    text-decoration: none;
    color: var(--black);
}

.wrapper {
    margin: 40px 120px;
}

.container {
    width: 100%;
}

.icon-button {
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-bottom: 8px;
    cursor: pointer;
}

.icon-button button {
    background-color: transparent;
    color: var(--beige-darkest);
    padding: 0;
    font-size: 16px;
    font-weight: 500;
}

#danger-button {
    color: rgb(194, 52, 52) !important;
    border: 1px solid rgb(194, 52, 52) !important;
}