body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
  }
  
  header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  h1 {
    font-size: 3em;
  }
  
  .navbar {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    background-color: #c25959;
    padding: 20px 15px;
    border-radius: 5px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1.6em;
  }
  
  .navbar a.active {
    background-color: #ddb9b9;
    color: white;
  }
  
  .navbar a:hover {
    background-color: #0056b3;
  }
  
  h2 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 30px;
  }
  
  form {
    text-align: center;
    margin-bottom: 40px;
    width: 80%;
    height: 80%;
    margin: 0 auto; 
    background-color: #ddb9b9; 
    padding: 70px;
    border-radius: 8px; 
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); 
  }
  
  input[type="text"], input[type="password"] {
    padding: 20px; 
    font-size: 1.5em; 
    width: 90%; 
    max-width: 500px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px; 
  }
  
  button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 20px; 
    font-size: 1.5em; 
    border-radius: 5px;
    cursor: pointer;
    width: 100%; 
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .posts {
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .post {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .name {
    font-size: 2em;
    font-weight: bold;
    color: #333;
  }
  
  .controls {
    margin: 15px 0;
  }
  
  .controls a {
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s;
    font-size: 1.3em;
  }
  
  .controls a:hover {
    color: #0056b3;
  }
  
  .message {
    font-size: 1.5em;
    color: #555;
  }
  
  main {
    margin-top: 40px;
  }
  
  label {
    font-size: 1.3em;
    display: block;
    margin-bottom: 10px;
  }
  
  textarea {
    padding: 20px;
    font-size: 1.5em;
    width: 90%;
    max-width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    resize: vertical; 
  }
  
  select {
    padding: 25px; 
    font-size: 1.9em; 
    width: 30%; 
    max-width: 500px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px; 
  }
  
  
  input[type="submit"] {
    font-size: 1.3em;
    width: 20%
  }
  
  .datepicker {
    width: 300px; 
    font-size: 1.5em; 
  }
  
  .datepicker table {
    font-size: 1.8em; 
  }
  
  @media (max-width: 600px) {
    .container {
        padding: 30px;
    }
  
    h1 {
        font-size: 3em;
    }
  
    .navbar {
        flex-direction: column;
        align-items: center;
    }
  
    .navbar a {
        margin: 15px 0;
        font-size: 1.8em;
    }

    .popup {
      font-size: 14px;
      display: none;
      position: absolute;
      border: 3px dotted #ccddff;
      z-index: 8;
      bottom: -600%;
      background-color: white;
      width: 110%;
      padding-bottom: 10px;
      padding-left: 2px;
      box-shadow: 5px 5px 5px #000;
    }
  
    h2 {
      font-size: 2.2em;
    }
  
    input[type="text"], input[type="password"] {
      font-size: 1.3em;
      width: 90%;
    }
  
    input[type="submit"] {
      font-size: 1.3em;
      width: 20%
    }
  
    .post {
      padding: 15px;
    }
  
    .name {
      font-size: 1.8em;
    }
  
    .controls a {
      font-size: 1.3em;
    }
  
    .message {
      font-size: 1.3em;
    }
  
    form {
      padding: 40px;
    }
  
    label {
      font-size: 1.2em;
    } 
  
    button {
      font-size: 1.3em;
    }
  
    textarea {
      font-size: 1.3em;
      width: 90%;
    }
  
    select {
      font-size: 1.3em; 
      width: 30%; 
    }
  
    .datepicker {
      width: 100%; 
      font-size: 1.2em; 
    }
  
    .datepicker table {
      font-size: 1.2em; 
    }
  
    .datepicker .datepicker-days td,
    .datepicker .datepicker-months td,
    .datepicker .datepicker-years td {
      height: 35px; 
      width: 35px; 
    }
  }