{% extends "base.html" %}

{% block title %}My Groups - SplitSmart{% endblock %}

{% block content %}
<section id="groups" class="row">
    <h1>My Groups</h1>
    <p>Below are the groups you are part of. Select a group to view details or manage expenses.</p>
    <ul class="group-list">
        {% for group in groups %}
            <li class="group-item">
                <!-- Convert group._id to string for use in URLs -->
                <a href="/group/{{ group['_id'] }}">{{ group['group_name'] }}</a>
                <p>Members: {{ group.group_members | length }}</p>
                <ul class="member-list">
                    {% for member in group.member_names %}
                        <li>{{ member }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    <a href="/create-group" class="button">Create New Group</a>
</section>
{% endblock %}

