{% extends "base.html" %}

{% block title %}My Groups - SplitSmart{% endblock %}

{% block content %}
<section id="groups" class="row">
    <h1>My Groups</h1>
    <p>Below are the groups you are part of. Select a group to view details or manage expenses.</p>
    <ul class="group-list">
        {% for group in groups %}
            <li class="group-item">
                <!-- Link to group details page -->
                <a href="{{ url_for('group_details', group_id=group['group_id']) }}" class="group-link">
                    <strong>{{ group['group_name'] }}</strong>
                </a>
                <p>Members: {{ group.group_members | length }}</p>
                <ul class="member-list">
                    {% for member in group.group_members %}
                        <li>{{ member }}: ${{ group.balances[member] }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% else %}
            <li>You are not part of any groups yet.</li>
        {% endfor %}
    </ul>    
    <a href="{{ url_for('create_group') }}" class="button">Create New Group</a>
</section>
{% endblock %}

