<!-- ACCOUNT PAGE -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home-Brewed</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    </head>

    <body>
        <!-- BLUE HEADING SECTION -->
        <header class="header">
            <a href="#home" class="webName"><i class='bx bx-drink' id="logo"></i>Home-Brewed</a> <!-- Heading -->
            <div class="logout-button"><a href="{{ url_for('logout') }}">Logout</a></div>        <!-- Logout button -->
            
            <!-- Don't display menu -->
            <nav class="dont-display">
                <i class="bx bx-menu" id="menu-icon"></i> <!-- Menu icon -->
            </nav>           
        </header>

        <!-- ACCOUNT PAGE -->
        <div class="welcome-box">
            <h2>Welcome, Bar Seeker!</h2>
            <p>Please <a href="/login">login</a> or <a href="/signup">sign up</a>.</p>
        </div>        
        <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    </body>
</html>