<!-- EDIT DATA PAGE -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home-Brewed</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    </head>

    <body>
        <!-- BLUE HEADING SECTION -->
        <header class="header">
            <a href="#home" class="webName"><i class='bx bx-drink' id="logo"></i><i>Home-Brewed</i></a>
            <i class="bx bx-menu" id="menu-icon"></i> <!-- Menu icon -->

            <!-- Logout button -->
            <div class="logout-button"><a href="{{ url_for('logout') }}">Logout</a></div>
            
            <!-- Navbar content -->
            <nav class="navbar">
                <a href="{{ url_for('index') }}">Home</a> 
                <a href="{{ url_for('add') }}" class="active">Add</a>
                <a href="{{ url_for('index') }}" class="active">Edit/Delete</a> <!-- current page -->
                <a href="{{ url_for('search') }}">Search</a>
                <a href="{{ url_for('sort') }}">Sort</a>
                <a href="{{ url_for('recommend') }}">Recs</a>
            </nav>
        </header>

        <!-- CONTENT -->
        <div class="edit-container" id="edit-container">
            <h2 class="heading">Edit <i>{{ bar.name }}</i>!</h2>
            <form action="{{ url_for('edit', bar_id=bar._id) }}" method="POST">
                <!-- Type -->
                <div class="form-group">
                    <label for="type">Type</label>
                    <select id="type" name="type" required>
                        <option value="">--Choose--</option>
                        <option value="Cocktail" {% if bar.type == 'cocktail' %}selected{% endif %}>Cocktail</option>
                        <option value="Wine" {% if bar.type == 'wine' %}selected{% endif %}>Wine</option>
                        <option value="Speakeasy" {% if bar.type == 'speakeasy' %}selected{% endif %}>Speakeasy</option>
                        <option value="Live Music" {% if bar.type == 'livemusic' %}selected{% endif %}>Live Music</option>
                        <option value="Sports" {% if bar.type == 'sports' %}selected{% endif %}>Sports</option>
                        <option value="Dive" {% if bar.type == 'dive' %}selected{% endif %}>Dive</option>
                        <option value="Pub" {% if bar.type == 'pub' %}selected{% endif %}>Pub</option>
                        <option value="Other" {% if bar.type == 'other' %}selected{% endif %}>Other</option>
                    </select><br><br>
                </div>

                <!-- Occasion -->
                <div class="form-group">
                    <label for="occasion">Occasion</label>
                    <select id="occasion" name="occasion" required>
                        <option value="">--Choose--</option>
                        <option value="Casual" {% if bar.occasion == 'cocktail' %}selected{% endif %}>Casual</option>
                        <option value="Formal" {% if bar.occasion == 'formal' %}selected{% endif %}>Formal</option>
                        <option value="Happy Hour" {% if bar.occasion == 'happyhour' %}selected{% endif %}>Happy Hour</option>
                        <option value="Date" {% if bar.occasion == 'date' %}selected{% endif %}>Date</option>
                        <option value="Dancing" {% if bar.occasion == 'dancing' %}selected{% endif %}>Dancing</option>
                        <option value="Other" {% if bar.occasion == 'other' %}selected{% endif %}>Other</option>
                    </select><br><br>
                </div>

                <!-- Area -->
                <div class="form-group">
                    <label for="area">Area</label>
                    <select id="area" name="area" required>
                        <option value="">--Choose--</option>
                        <option value="FiDi" {% if bar.area == 'FiDi' %}selected{% endif %}>FiDi</option>
                        <option value="East Village" {% if bar.area == 'East Village' %}selected{% endif %}>East Village</option>
                        <option value="Greenwich Village" {% if bar.area == 'Greenwich Village' %}selected{% endif %}>Greenwich</option>
                        <option value="West Village" {% if bar.area == 'West Village' %}selected{% endif %}>West Village</option>
                        <option value="SoHo" {% if bar.area == 'SoHo' %}selected{% endif %}>SoHo</option>
                        <option value="NoMad" {% if bar.area == 'NoMad' %}selected{% endif %}>NoMad</option>
                        <option value="Chelsea" {% if bar.area == 'Chelsea' %}selected{% endif %}>Chelsea</option>
                        <option value="Midtown" {% if bar.area == 'Midtown' %}selected{% endif %}>Midtown</option>
                        <option value="Upper East Side" {% if bar.area == 'Upper East Side' %}selected{% endif %}>Upper East Side</option>
                        <option value="Upper West Side" {% if bar.area == 'Upper West Side' %}selected{% endif %}>Upper West Side</option>
                        <option value="Other" {% if bar.area == 'other' %}selected{% endif %}>Other</option>
                    </select><br><br>
                </div>

                <!-- Need Reservation? -->
                <div class="form-group">
                    <label for="reservation">Reservation</label>
                    <select id="reservation" name="reservation" required>
                        <option value="">--Choose--</option>
                        <option value="Yes" {% if bar.reservation == 'yes' %}selected{% endif %}>Yes</option>
                        <option value="No" {% if bar.reservation == 'no' %}selected{% endif %}>No</option>
                    </select><br><br>
                </div>

                <!-- Cost -->
                <div class="form-group">
                    <label for="cost">Cost</label>
                    <select id="cost" name="cost" required>
                        <option value="">--Choose--</option>
                        <option value="$" {% if bar.cost == '$' %}selected{% endif %}>$</option>
                        <option value="$$" {% if bar.cost == '$$' %}selected{% endif %}>$$</option>
                        <option value="$$$" {% if bar.cost == '$$$' %}selected{% endif %}>$$$</option>
                        <option value="$$$$" {% if bar.cost == '$$$$' %}selected{% endif %}>$$$$</option>
                    </select><br><br>
                </div>

                <!-- Status -->
                <div class="form-group">
                    <label for="status">Visited?</label>
                    <select id="status" name="status" required>
                        <option value="">--Choose--</option>
                        <option value="Yes" {% if bar.status == 'yes' %}selected{% endif %}>Yes</option>
                        <option value="No" {% if bar.status == 'no' %}selected{% endif %}>No</option>
                    </select><br><br>
                </div>

                <button type="submit">Add Bar</button> <!-- Add bar -->   
            </form>
        </div>
        <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    </body>
</html>