<!-- LOGIN PAGE -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home-Brewed</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    </head>

    <body>
        <!-- BLUE HEADING SECTION -->
        <header class="header">
            <a href="#home" class="webName"><i class='bx bx-drink' id="logo"></i><i>Home-Brewed</i></a> <!-- Heading -->
            <div class="logout-button"><a href="{{ url_for('logout') }}">Logout</a></div>               <!-- Logout button -->
            
            <!-- Don't display menu -->
            <nav class="dont-display">
                <i class="bx bx-menu" id="menu-icon"></i> <!-- Menu icon -->
            </nav>        
        </header>

        <!-- LOGIN PAGE -->
        <div class="login-container">
            <h1 class="login-header">Login to Your Account</h1>
        
            <div class="login-form">
                <form action="{{ url_for('login') }}" method="post">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username">

                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password">
                    
                    <button type="submit">Login</button>
                </form>
            </div>
        
            <!-- Link to signup.html -->
            <div class="signup-link">
                <a href="{{ url_for('signup') }}">Don't have an account?</a>
            </div>
        </div>        
        <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    </body>
</html>