<!-- RECOMMENDER PAGE -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home-Brewed</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    </head>

    <body>
        <!-- BLUE HEADING SECTION -->
        <header class="header">
            <a href="#home" class="webName"><i class='bx bx-drink' id="logo"></i>Home-Brewed</a>
            <i class="bx bx-menu" id="menu-icon"></i> <!-- Menu icon -->

            <!-- Logout button -->
            <div class="logout-button"><a href="{{ url_for('logout') }}">Logout</a></div>
            
            <!-- Navbar content -->
            <nav class="navbar">
                <a href="{{ url_for('index') }}" class="active">Home</a> <!-- current page -->
                <a href="{{ url_for('add') }}">Add</a>
                <a href="{{ url_for('index') }}">Edit/Delete</a> <!-- link to Edit/Delete -->
                <a href="{{ url_for('search') }}">Search</a>
                <a href="{{ url_for('sort') }}">Sort</a>
            </nav>
        </header>

        <!-- RECOMMEND PAGE -->
        <h2>Welcome to your dashboard, {{ username }}!</h2>
        <p>Here are all of your current bars...</p>
        
        <!-- Dashboard of user's applications -->
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Action</th> <!-- For Edit/Delete -->
                        <th>Name</th>
                        <th>Type</th>
                        <th>Occasion</th>
                        <th>Area</th>
                        <th>Reservation</th>
                        <th>Cost</th>
                        <th>Visited?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bar in bars %}
                    <tr>
                        <!-- Edit/Delete -->
                        <td class="action-cell">
                            <a href="{{ url_for('edit', bar_id=bar._id) }}">Edit</a> | 
                            <a href="{{ url_for('delete', bar_id=bar._id) }}">Delete</a>
                        </td>                        

                        <td>{{ bar.name }}</td>
                        <td>{{ bar.type }}</td>
                        <td>{{ bar.occasion }}</td>
                        <td>{{ bar.area }}</td>
                        <td>{{ bar.reservation }}</td>
                        <td>{{ bar.cost }}</td>
                        <td>{{ bar.status }}</td>
                    </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">No bars found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    </body>
</html>