<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saved Bar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar" id="navbar">
        <ul class="nav-links" id="nav-links">
            <!-- Home Link -->
            <li>
                <a href="{{ url_for('dashboard', username=session.get('username', '')) }}">Home</a>
            </li>
            <!-- Find a Bar Link -->
            <li>
                <a href="{{ url_for('findbar') }}">Find a Bar</a>
            </li>
            <!-- Saved Bars Link -->
            <li>
                <a href="{{ url_for('savedbar', username=session.get('username', '')) }}" class="active">Saved Bars</a>
            </li>
            <li><a href="{{ url_for('search_saved', username=session['username']) }}">Search Saved</a></li>
            <!-- Logout Link -->
            <li>
                <a href="{{ url_for('logout') }}">Logout</a>
            </li>
        </ul>
    </nav>
</body>

<div class="container">
    <h1>Saved Bars</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Price</th>
                <th>Occasion</th>
            </tr>
        </thead>
        <tbody>
            {% for bar in bars %}
            <tr>
                <td>{{ bar.name }}</td>
                <td>${{ bar.location }}</td>
                <td>{{ bar.price }}</td>
                <td>{{ bar.occasion }}</td>
                <td>
                    <form action="/delete/{{ bar._id }}" method="POST" style="display:inline;">
                        <button type="submit" class="button">Delete</button>
                    </form>  
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


</html>