<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saved Bar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar" id="navbar">
        <ul class="nav-links" id="nav-links">
            <!-- Home Link -->
            <li>
                <a href="{{ url_for('dashboard', username=session.get('username', '')) }}" class="active">Home</a>
            </li>
            <!-- Find a Bar Link -->
            <li>
                <a href="{{ url_for('findbar') }}">Find a Bar</a>
            </li>
            <!-- Saved Bars Link -->
            <li>
                <a href="{{ url_for('savedbars', username=session.get('username', '')) }}">Saved Bars</a>
            </li>
            <!-- Logout Link -->
            <li>
                <a href="{{ url_for('logout') }}">Logout</a>
            </li>
        </ul>
    </nav>
</body>
</html>