<!-- SIGNUP PAGE -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home-Brewed</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    </head>

    <body>
        <!-- BLUE HEADING SECTION -->
        <header class="header">
            <a href="#home" class="webName"><i class='bx bx-drink' id="logo"></i>Home-Brewed</a> <!-- Heading -->
            <div class="logout-button"><a href="{{ url_for('logout') }}">Logout</a></div>        <!-- Logout button -->
            
            <!-- Don't display menu -->
            <nav class="dont-display">
                <i class="bx bx-menu" id="menu-icon"></i> <!-- Menu icon -->
            </nav>     
        </header>

        <!-- SIGNUP PAGE -->
        <div class="signup-container">
            <h1 class="signup-header">Create an Account</h1>
        
            <div class="signup-form">
                <form action="{{ url_for('signup') }}" method="post">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username">

                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password">
                    
                    <button type="submit">Signup</button>
                </form>
            </div>
        
            <!-- Link to login.html -->
            <div class="login-link">
                <a href="{{ url_for('login') }}">Already have an account?</a>
            </div>
        </div>        

        <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    </body>
</html>