body {
    background-color: #F6F5F2;
    margin: 0;
}

/* header */
.header-container {
    background-color: #F0EBE3;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;    
}

.header-title {
    margin: 0;
    font-size: 24px;
    color: white;
}

.header-title-link {
    text-decoration: none;
}

.header-title:hover {
    color: #F3D0D7;
}

.header-buttons {
    display: flex;
    gap: 10px;
}

.button-primary, .button-secondary {
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: #a3a2a2bd;
    background-color: white; 
    border: 1px solid #a3a2a2bd; 
    border-radius: 20px; 
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.button-primary {
    width: 125px;
}

.button-secondary {
    width: 60px;
}

.button-primary:hover, .button-secondary:hover {
    background-color: #F3D0D7;
    color: white;
    border: 1px solid #F3D0D7;;
    font-weight:550;
}

/* search bar */
.content-container {
    display: flex; 
    flex-direction: column; 
    margin: auto; 
    width: 70%;
    gap: 10px;
}
.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px; 
}

.search-bar {
    width: 400px;
    padding: 10px 15px;
    font-size: 16px;
    color: #a3a2a2bd;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
    outline: none;
}

.search-bar::placeholder {
    color: #a3a2a2bd;
}

/* Style the search button */
.search-button {
    padding: 10px 20px;
    background-color: #F3D0D7;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #FFEFEF;
}
/* listed book styling */
.book {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 15px;
    gap: 15px;
}

.book-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.book-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #333;
}

.book-author {
    font-size: 14px;
    margin: 0;
    color: #666;
}

.book-description {
    font-size: 12px;
    margin: 0;
    color: #444;
    line-height: 1.4;
}

.add-button, .delete-button {
    padding: 10px 15px;
    background-color: #F3D0D7;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

