<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>My Calendar</title>
<link rel="stylesheet" href="/css/base.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<header>
<nav>
	<span class="home-link">
		<a href="/event/add"> Add Event </a>
	</span>
	<span class="login-status">
		Logged in as: username
		<a href="/logout"> Log Out </a>
		<a href="/register"> Register </a> 
        <a href="/login"> Login </a>
	</span>
</nav>
</header>
<body>
	<br>
	<a href='/home'><h1 style="text-decoration:underline overline">My Calendar</h1></a>
	<div>
	</div>
</body>
</html>