{% extends 'base.html' %}
{% block container %}

<main class="h-container">
    <div class="h-item">
        <img src="/static/images/gifts.png" alt="gifts">
    </div>
    <div class="h-item form">
        <h1>Happylist makes gifting easy</h1>
        <p class="subheading">Sign up to create your wishlist ✨</p>
        <form class="inputs" method="POST">
            <div class="h-inputs">
                <div class="labeled-input">
                    <label for="first-name">First name</label>
                    <input type="text" id="first-name" name="first-name" required placeholder="First name">
                </div>
                <div class="labeled-input">
                    <label for="last-name">Last name</label>
                    <input type="text" id="last-name" name="last-name" required placeholder="Last name">
                </div>
            </div>
            <div class="labeled-input">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required placeholder="Username">
            </div>
            <div class="labeled-input">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required placeholder="Password">
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li class="li">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <button class="button-large" type="submit">Get Started</button>
        </form>
        <p>Already have an account? <a href="{{ url_for('login') }}">Log in</a></p>
    </div>
</main>
{%endblock%}