{% extends 'base.html' %}

{% block container %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<h2>Add an Event</h2>
<form method="POST" action="{{ url_for('add_event') }}">
  <input type="text" id="fname" name="fname" placeholder="Event Name" required/>
  <br> <br> <br>
  <input type="text" required style="display: block; width: 80%; max-width: 400px; margin: 0 auto; padding: 10px; font-size: 1.2em; border: 1px solid #ccc; border-radius: 5px;" id="datepicker" name="date" class="form-control" placeholder="Select Date">
  <br> <br>
  <label for="hours">Hour:</label>
  <select id="hours" name="hours">
      <option value="00">00</option>
      <option value="01">01</option>
      <option value="02">02</option>
      <option value="03">03</option>
      <option value="04">04</option>
      <option value="05">05</option>
      <option value="06">06</option>
      <option value="07">07</option>
      <option value="08">08</option>
      <option value="09">09</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
  </select>

  <label for="minutes">Minute:</label>
  <select id="minutes" name="minutes">
      <option value="00">00</option>
      <option value="05">05</option>
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="20">20</option>
      <option value="25">25</option>
      <option value="30">30</option>
      <option value="35">35</option>
      <option value="40">40</option>
      <option value="45">45</option>
      <option value="50">50</option>
      <option value="55">55</option>
  </select>
  <br> <br> <br>
  <textarea type="text" id="fmessage" name="fmessage" placeholder="Description"></textarea>
  <br> <br> <br>
  <input type="submit" value="Save" />
</form>

<script>
  $(document).ready(function(){
      $('#datepicker').datepicker({
          format: 'mm/dd/yyyy',
          autoclose: true
      });
  });
</script>
{% endblock %}