{% extends 'base.html' %} {% block container %}
<head>
    <meta charset="UTF-8">
    <title>My Calendar</title>
    <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
</head>
<body>
    <!-- FullCalendar -->
    <div id="calendar"></div>

    <p>To edit events, simply drag the events around in the calendar. Duration can be edited only in weekly and daily views.</p>

        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
		<script src='/js/calendar.js' type='module' defer></script>
		<div class='popup' id='popup'>
			<div id='event-title'></div>
			From <div class='time' id='event-startTime'></div>
			To <div class ='time' id='event-endTime'></div>
			<input type='button' id='closeBtn' value='Close'>
			<input type='button' id='deleteBtn' value='Delete'>
		</div>

</body>
{% endblock %}