<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
  <title>Flask Index Page</title>
</head>

<body>
  <div class="div">
    <img src="{{ url_for('static', filename='Welcome.png') }}" class="Welcome"/>
    <p>Let's Record what's new! </p>
    <img src="{{ url_for('static', filename='record-player.png') }}" class="logo"/>
    <div class="start"></div>
  <button onclick="window.location.href='/login'">Start</button>
</div>
</div>
</body>
