{% extends 'nav-base.html' %}

{% block inner_content %}
    <!-- TODO: make this functional -->
    <button>Copy Wishlist link</button>
    <h1>{{ current_user.username }}'s Wishlist</h1>
    {% if current_user.is_authenticated %}
        <ul class="wishlist">
            <li id="add-wish">
                <img src="/static/images/gift.svg" alt="gift icon">
                <a href="{{ url_for('add') }}"><button role="link">Add wish</button></a>
            </li>
            {% for wish in wishes %}
                <li class="wish">
                    <img src="{{ wish.image }}" alt="item image">
                    <div>
                        <b>{{ wish.name }}</b>
                        <p>${{ wish.price }}</p>   
                        <p><i>Comments: {{ wish.comments or '' }}</i></p> 
                    </div>
                    <a target="_blank" href="{{ wish.link }}"><button role="link">Item Link</button></a>
                    <a href="{{ url_for('edit', wish_id=wish._id) }}"><button role="link">Edit Wish</button></a>
                    <form method="POST" action="{{ url_for('delete', wish_id=wish._id) }}" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this wish?');">
                        <button type="submit">Delete Wish</button>
                    </form>                    
                </li>
            {% endfor %}
        </ul>
        <form method="POST" action="{{ url_for('logout') }}">
            <button type="submit">Logout</button>
        </form>
    {% endif %}
{% endblock %}
