<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <div class="frame">
    <div class="container">
      <h1>Login Page</h1>
      <form action="/login" method="POST">
        <label for="username">Username:</label>
        <input class="textInput" type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input class="textInput" type="password" id="password" name="password" required>
        <div class="submit"></div>
        <button type="submit">Login</button>
        <!-- <button onclick="window.location.href='/record'">Login but goes to record</button> -->
       
      </div>
      </form>

      <div class="link">
        <p>Don't have an account? <a href="/register">Register Here</a></p>
      </div>
    </div>
  </div>
</body>

</html>
