{% extends 'base.html' %}
{% block container %}
    <section class="wrapper">
        <section class="container">
            <nav>
                <a href="{{ url_for('home') }}" class="logo">Happylist</a>
                <ul>
                    <li><a href="{{ url_for('home') }}">My wishlist</a></li>
                    <!-- TODO: create route for claimed gifts -->
                    <li><a href="">Claimed gifts</a></li>
                </ul>
            </nav>
            {% block inner_content %}{% endblock %}
        </section>
    </section>
{% endblock %}
