{% extends 'base.html' %}
{% block container %}
    <section class="wrapper">
        <section class="container">
            <nav>
                <a href="{{ url_for('home') }}" class="logo">Happylist</a>
                <ul>
                    <li><a href="{{ url_for('home') }}">My wishlist</a></li>
                    <li><a href="{{ url_for('claimed', username=current_user.username) }}">Claimed gifts</a></li>
                    {% if current_user.is_authenticated %}
                    <li>
                        <form method="POST" action="{{ url_for('logout') }}">
                            <div class="icon-button">
                                <img src="/static/images/log-out.svg" alt="logout icon">
                                <button type="submit">Logout</button>
                            </div>
                        </form>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% block inner_content %}{% endblock %}
        </section>
    </section>
{% endblock %}
