<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <link href=/static/css/style1.css rel="stylesheet" type="text/css">
</head>
<body>
    <div class="signup-container">
        <header class="signup-header">
            <h1>Sign Up</h1>
        </header>

        <form id="signup-form" method="POST" action="/signup">
            <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="signup-btn-group">
                <button type="submit" class="signup-btn">Sign Up</button>
            </div>

            <div class="signup-footer">
                <p>Already have an account? <a href="/login">Login here</a></p>
            </div>
        </form>
    </div>

    <script>
        document.getElementById('signup-form').addEventListener('submit', function(event) {
            event.preventDefault();
            
            const formData = new FormData(this);
    
            fetch('/register', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.href = '/login';
                    alert(data.message);
                } else{
                    alert(data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred during signup.');
            });
        });
    </script>
    
</body>
</html>
