body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.607);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* login screen */
.login-screen {
    background: white;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    height: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 25%;
    gap: 15px;
}

/* title */
.login-screen h1 {
    margin-bottom: 30px;
    font-size: 400%;
    text-align: center;
}

/* user input and login button */
.login-screen input[type="password"],
.login-screen input[type="text"] {
    width: 60%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 18px;
}

.login-screen input[type="submit"] {
    margin-top:25px;
    background-color: lightgray;
    width: 20%;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    border: 2px solid black;
}

.error-msg {
    color: red;
    text-align: center;
}

/* login screen */
.user-screen {
    background: white;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    height: 60%;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    width: 35%;
    gap: 15px;
}

.user-screen header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-screen h2 {
    width: 100%;
    margin-bottom: 20px;
    margin: 0;
    font-size: 150%;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.button-container {

    width: 80%;
    margin: 15px;
    font-size:100%;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.rebut{
    width: 80%;
    margin: 15px;
    font-size:100%;
    display:flex;
    align-items: center;
    justify-content:center;
}


.logout-btn {
    align-items:flex-end;
    background-color:lightgray;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    font-size:150%;
}

image {
    width: 6vw;
}