/* Body styling */
body {
    background: linear-gradient(to bottom, #0A0A0A, #2A2A2A); 
    color: white; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align content to the top of the page */
}

/* Header styling */
header {
    width: 100%; /* Full width */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 1); 
    z-index: 2; /* Keep it above other content */
    position: relative; /* Default, to let it flow with the page */
    box-sizing: border-box; /* Prevent any padding from causing overflow */
}

/* Logo */
header img {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    background-color: white; 
    border: 3px solid black; 
    padding: 5px;
}

/* Content styling */
main {
    width: 100%; /* Full width */
    padding-top: 70px; /* Space for header */
    position: relative;
    z-index: 1; 
    box-sizing: border-box; /* Prevent any padding from causing overflow */
}

/* Backdrop behind the main content */
.main-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('/static/images/backdrop.jpg');
    background-size: cover; 
    background-position: center center; 
    background-color: rgba(0, 0, 0, 1); 
    z-index: 0;
    opacity: 0.15;
}

/* Content inside the main section */
.content {
    position: relative;
    z-index: 1; 
    text-align: center;
    padding: 0px;
    margin: 0; /* Prevent additional spacing */
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #45a049; 
}

form input[type="checkbox"] {
    margin: 10px 0;
    transform: scale(1.5);
}

/* Footer */
footer {
    margin-top: 20px;
    text-align: center;
    color: #777;
    width: 100%; /* Ensure footer spans the entire width */
}
