{% extends "layout.html" %}

{% block title %}Add Item{% endblock %}

{% block content %}
<section>
    <form action="{{ url_for('add_item', wishlist_id=id) }}" method="POST">
        <h2>Add New Item:</h2>
        <br>
        <label for="link" class="text">Link</label>
        <input type="text" name="link" id="link">
        <br>
        <label for="name" class="text">Name</label>
        <input type="text" name="name" id="name">
        <br>
        <label for="price" class="text">Price</label>
        <input type="text" name="price" id="price">
        <br>
        <button type="submit" class="button">Submit</button>
    </form>    
</section>
{% endblock %}