<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../statics/css/styles.css">
</head>
<body>
    <!-- header -->
     <div class="header-container">
        <header class="header">
            <h1 class="header-title">BookSwap</h1>
            <div class="header-buttons">
                <button class="button-primary">Find Your Match</button>
                <button class="button-secondary">User</button>
            </div>
        </header>
    </div>
    <!-- search bar -->
     <div class="content-container">
        <section class="search-bar-container">
            <form action="/search" method="GET">
                <input type="text" class="search-bar" placeholder="search for books..." name="query">
                <button type="submit" class="search-button">.</button>
            </form>
        </section>
    <!-- books -->
        <section class="book-list-container">
            <div class="book-list">
                <div class="book">
                    <h3 class="book-title">Book Title</h3>
                    <p class="book-author">by Author</p>
                    <p class="book-description">This is a short description of the book.</p>
                </div>
            </div>
            <!-- <div class="book-list">
                {% for book in books %}
                <div class="book">
                    <h3 class="book-title">{{ book.title }}</h3>
                    <p class="book-author">by {{ book.author }}</p>
                    <p class="book-description">{{ book.description }}</p>
                </div>
                {% endfor %}
            </div> -->
        </section>
    </div>
</body>
</html>
