{% extends 'base.html' %}
{% block head %}
    <title> Pet Circle </title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            border-radius: 8px;
            overflow: hidden;
        }
            
        th,td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: left;
            font-size: 14px;
            padding: 3px;
        }
            
        thead th {
            background-color: #ffffff;
            font-weight: bold;
            text-transform: uppercase;
        }

        .circular-button {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #f7dc6f;
            color: white;
            border: black;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 35px;
            cursor: pointer;
            position: fixed;
            bottom: 120px;
            left: 50%;
            transform: translateX(-50%);
        }

        .circular-button:hover {
            background-color: #f8d856;
        }
    </style>
{% endblock %}

{% block container %}
    <!-- Song Recommendation Table -->
    <section>
        <h2> Recommendated for you</h2>
        <table id="recommendations"> 
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Genre</th>
                </tr>
            </thead>
            <tbody>
                {% for song in recommendations %}
                <tr>
                    <td>{{ song["Title"] }}</td>
                    <td>{{ song["Artist"] }}</td>
                    <td>{{ song["Genre"] }}</td>
                </tr> 
                {% endfor %}
            </tbody>
        </table>
    </section>
    
    <!-- Statistics Table -->
    <section>
        <h2>Statistics</h2>
        <table id="statistics">
            <thead>
                <tr>
                    <th>Genre</th>
                    <th># of Songs</th>
                    <th>Percentage(%)</th>
                </tr>
            </thead>
            <tbody>
                {% for genre in genres %}
                <tr>
                    <td>{{ genre["Name"] }}</td>
                    <td>{{ genre["Amount"] }}</td>
                    <td>{{ genre["Percentage"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <button class="circular-button" onclick="window.location.href='/addpost'">+</button>
{% endblock %}