<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <!-- header -->
    <div class="header-container">
        <header class="header">
            <a href="/" class="header-title-link">
                <h1 class="header-title">BookSwap</h1>
            </a>
            <div class="header-buttons">
                <a href="/matches" class="button-primary">find new books!</a>
                <!-- make it so that if user not logged in, this says 'log in' -->
                <a href="/user" class="button-secondary">user</a>
            </div>
        </header>
    </div>
    <!-- search bar -->
     <div class="content-container">
        <section class="search-bar-container">
            <form action="/search" method="GET">
                <input type="text" class="search-bar" placeholder="search for books..." name="query">
                <button type="submit" class="search-button">filter by</button>
            </form>
        </section>
    <!-- books -->
        <section class="book-list-container">
            <div class="book-list">
                {% for book in books %}
                <div class="book">
                    <div class="book-details">
                        <h3 class="book-title">{{ book.title }}</h3>
                        <p class="book-author">by {{ book.author }}</p>
                        <p class="book-description">{{ book.description }}</p>
                    </div>
                    <button class="add-button">Add</button>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>
</body>
</html>
