{% extends 'base.html' %}
{% block head %}
    <title> Post Details </title>
    <style>
        .post-author {
            display: inline-block;
            padding: 10px;
            border: 2px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
            position: relative;
            left: 30%;
        }
    </style>
{% endblock %}

{% block container %}
    <div>
        <img src="{{ image_url }}" alt="Post Image" style="max-width: 100%; height: auto;">
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>
        <p class="post-author">Posted by {{ post.user }}</p>
        <br>
        <small>{{ post.created_at }}</small>
        <hr>
    </div>
    <div>
        <p>Views: {{ post.views }}</p>
        <p>Likes: {{ post.likes }}</p>
    </div>
{% endblock %}