<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <!-- header -->
    <div class="header-container">
        <header class="header">
            <a href="/" class="header-title-link">
                <h1 class="header-title">BookSwap</h1>
            </a>
            <div class="header-buttons">
                <a href="/matches" class="button-primary">find new books!</a>
                <!-- make it so that if user not logged in, this says 'log in' -->
                <a href="/user" class="button-secondary">user</a>
            </div>
        </header>
    </div>
    <!-- add  generic user info / logout functionality -->
    <!-- my collection -->
    <div class="content-container">
        <section class="book-list-container">
            <!-- logged in user name -->
            <div class="user-greeting">
                <h1> Sign up</h1>
            </div>
            <form action="{{ url_for('signup') }}" method="POST">
                <label for="email">Email:</label><br>
                <input type="text" id="email" name="email" placeholder="email" required><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" placeholder="password" required><br>
                <label for="password">Confirm Password:</label><br>
                <input type="password" id="password" name="password" placeholder="password" required><br>
                <label for="name">Name:</label><br>
                <input type="text" id="name" name="name" placeholder="name" required><br>
                <input type="submit" value="Signup">
            </form>
            <p>Have an account? <a href="{{ url_for('login') }}">Login</a></p>
        </section>
    </div> 
</body>
</html>
