{% extends "layout.html" %}

{% block title %}{{ wishlist['name'] }}{% endblock %}

{% block content %}
<section>
    <h3>Wishlist</h3>
    <p> {{ wishlist['name'] }}</p>
    {% for item in items %}
        <div {% if item.purchased %} style="background-color: #eaffea;" {% endif %}>
            <p>{{ item.name }} - {% if item['purchased'] %}Purchased{% else %}Not Purchased{% endif %}</p>
        </div>
        <p>
            <a href="{{ item['link'] }}">{{ item['name'] }}</a>
            ${{ item['price'] }}
        </p>
        
    {% endfor %}
    <a href="{{ url_for('add_item', wishlist_id=wishlist['_id']) }}">Add Item</button>
    <button type="button">Browse recommended items</button>
    <button onclick="exportWishlist('{{ wishlist.public_id }}')">Export Wishlist</button>
    <input id="export-link-{{ wishlist.public_id }}" type="text" readonly style="width: 300px; margin-left: 10px;"/>

    <script>
        function exportWishlist(publicId) {
            const baseUrl = window.location.origin;
            const link = `${baseUrl}/view/${publicId}`;

            const inputField = document.getElementById(`export-link-${publicId}`);
            inputField.value = link;

            inputField.select();
            inputField.setSelectionRange(0, 99999);  // For mobile devices
            document.execCommand('copy');

            alert('Wishlist link copied to clipboard: ' + link);
        }
    </script>
</section>
{% endblock %}