name: CI/CD Pipeline for BarRecs

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
    # Checkout code
    - name: Checkout code
      uses: actions/checkout@v2

    # Set up Docker Buildx
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    # Log in to Docker Hub
    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # Build and push Docker image
    - name: Build and push Docker image
      run: |
        docker buildx build --platform linux/amd64,linux/arm64 -t ${{ secrets.DOCKER_USERNAME }}/bar_recs:latest ./bar_recs --push

      # Deploy to DigitalOcean
    - name: Deploy to DigitalOcean
      with:
        host: ${{ secrets.DO_IP }}
        username: root
      script: |
        docker pull ${{ secrets.DOCKER_USERNAME }}/bar_recs:latest
        docker stop bar_recs || true
        docker rm bar_recs || true
        docker run -d --name bar_recs -p 5001:5001 --env-file /root/project/bar_recs/.env ${{ secrets.DOCKER_USERNAME }}/bar_recs:latest