name: Deploy to Droplet

on:
  push:
    branches:
      - main 

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.DEPLOY_KEY }}

      - name: Deploy to Droplet
        run: |
          ssh -T -o StrictHostKeyChecking=no root@143.198.0.220 << 'EOF'
            docker stop $(docker ps -a -q)
            cd 5-final-book_of_amos 
            git remote set-url origin git@github.com:software-students-fall2024/5-final-book_of_amos.git
            eval "$(ssh-agent -s)"
            ssh-add ../.ssh/deploy
            git pull origin main
            docker-compose up --build -d &
            exit
          EOF

