<!DOCTYPE html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css') }}">
</head>

<body>
    <form action = "/login_screen" method="POST" class="login-screen">
        <h1>Bogosort Casino</h1>
        <input type="text" name="username" id="username" placeholder="Username"/>
        <input type="password" name="password" id="password" placeholder="Password"/>
        <input type="submit" value ="Login" />

        {% if error_msg %}
        <p class="error-msg">{{error_msg}}</p>
        {% endif %}
    </form>
    
</body>
</html>