<!DOCTYPE html>
<head>
    <title>User Homepage</title>
</head>

<body>
    <header>
        <h2>Welcome, {{username}}!</h2>
        <form action = "{{ url_for('logout') }}" method = "POST">
            <button type = "submit" class = "logout-btn">Logout</button>
        </form>
    </header>

    <div class="button-container">
        <button>Blackjack</button>
        <form method ="POST"  action = "{{url_for('craps_home', username=username)}}">
            <input type="hidden" value={{balance}} name="balance"/>
            <input type="submit" value="Craps"/>
        </form>
        <button disabled>Add Balance</button>
        <button disabled>Help</button>
    </div>
</body>
</html>